body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 300px;
}
.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-nav{
  display: flex;
  list-style: none;
}


