.perfil-container{
  display: flex;
  
}

.perfil-img{
  width: 80px;
  height: 80px;
  border-radius: 1000px;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 300px;
}
.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-nav{
  display: flex;
  list-style: none;
}


